{% extends "admin/login.html" %} {% load i18n static %}{% block extrastyle %} {{ block.super }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
    body {
        background-image: url('{% static "images/hokage.jpeg" %}') !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    
    #header {
        background-color: transparent !important;
    }
    
    #main-container {
        display: none;
    }
    
    #container {
        margin-top: 15% !important;
        margin-bottom: 0% !important;
    }
</style>
{% endblock %} {% block branding %}
<h1>
    <span style="color: #daa83c !important ; font-weight: bold;">Konohagakure Search</span>
    <br />
    <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %} {% block content_title %}
<p class="lead" style="font-size: larger">
    Admin Panel to manage this Robust Search Engine
</p>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    let e = document.getElementById("container");
    e.setAttribute("data-aos", "flip-left");
    AOS.init();
</script>
{% endblock %}