{% extends 'layout.html' %}{% load static %}{% block body %}
<div class="s006">
    <form action="?" method="GET">{% csrf_token %}
        <fieldset>
            <div class="inner-form">
                <div class="input-field form-floating mb-3" data-aos="fade-right">
                    <button class="btn-search" type="submit"><i class='bx bx-search-alt' style="font-size: 30px;"></i></button>
                    <input id="search" list="autosearchOptions" type="search" class="form-control" placeholder="Search..." /> {%if auto_suggestions %}
                    <datalist id="autosearchOptions">
                        {% for i in auto_suggestions %}
                        <option value="{{i}}">
                            {% endfor %}
                      </datalist> {% endif %}
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}